<div class="flex flex-col items-center pt-8 bg-gray-850 text-white">
  <div class="max-w-lg w-full px-8">
    <h1 class="text-2xl font-bold mb-4 p-5">
      Currently <span class="text-green-500">vibing</span> to
    </h1>
    <div
      *ngIf="currentTrack"
      class="track-info flex items-center p-2 bg-gray-800 shadow-md rounded-md"
    >
      <img
        [src]="currentTrack.album.images[0].url"
        alt="Album cover"
        class="w-32 h-32 rounded-md"
      />
      <div class="ml-4">
        <p class="font-bold text-lg">{{ currentTrack.name }}</p>
        <p class="text-gray-400">{{ currentTrack.artists[0].name }}</p>
      </div>
    </div>
    <div *ngIf="currentTrack" class="mt-4"></div>
    <div class="flex justify-center space-x-2">
      <button
        (click)="isPlaying ? pause() : play()"
        class="player-btn px-4 py-2 rounded-md text-white transition duration-300 mb-6"
        [ngClass]="{
          'bg-green-600 hover:bg-green-700': !isPlaying,
          'bg-red-600 hover:bg-red-700': isPlaying
        }"
      >
        {{ isPlaying ? "Pause" : "Play" }}
      </button>
      <button
        (click)="next()"
        [disabled]="!currentTrack"
        class="mb-6 player-btn px-4 py-2 rounded-md text-white transition duration-300 bg-blue-600 hover:bg-blue-700"
      >
        Next
      </button>
    </div>
  </div>
</div>
