<div class="absolute z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <div class="px-20 py-10 rounded-md bg-gray-700 text-white text-center">
        <div class="text-3xl mb-2 flex items-center justify-center">Your session expired</div>
        <p class="text-lg">
            Due to inactivity of this party, your session was closed.
        </p>
        <br />
        <button (click)="backToLogin()"
            class="add-track-btn px-4 py-2 bg-green-600 hover:bg-green-700 rounded-md text-white transition duration-300">
            Back to Login
        </button>
    </div>

</div>