<div class="flex items-center justify-center gap-20  min-h-screen bg-gray-900">
  <div class="flex items-center justify-center">
    <h1 class="text-3xl font-bold mb-4 pr-2 text-white">
      Host a <span class="text-green-500 text-6xl p-2">Vibe</span><br />
      <br /><br /><br />
    </h1>
    <h1 class="text-3xl font-bold mb-4 pr-12 text-white">
      <span class="text-green-500 text-6xl p-2">Vote</span> on what comes next
    </h1>
  </div>
  <div class="p-12 bg-gray-800 shadow-md rounded-md text-white text-lg flex flex-col items-center w-1/4">
    <h1 class="text-3xl font-bold mb-4">VibeVote</h1>
    <button data-cy="loginWithSpotify" (click)="loginWithSpotify()"
      class="flex items-center justify-center w-full px-6 py-3 text-white bg-green-600 hover:bg-green-700 rounded-md transition">
      <i class="material-icons mr-2">login</i>
      Login
    </button>
    <button (click)="joinSession()"
      class="mt-6 w-full px-6 py-3 text-white bg-gray-600 hover:bg-gray-700 rounded-md transition">
      Join As Guest
    </button>
  </div>
</div>