<div class="flex flex-col items-center pt-8 bg-gray-850 text-white">
  <div class="max-w-lg w-full px-8">
    <app-spotify-player
      [spotifyPlaylistId]="playlist.spotifyPlaylistId"
    ></app-spotify-player>

    <!-- <h1 class="text-2xl font-bold mb-4">{{ playlist.title }}</h1> -->
    <div *ngIf="!playlist">
      <p>Loading...</p>
    </div>
    <div *ngIf="playlist">
      <button
        (click)="addTrack()"
        class="add-track-btn w-full px-4 py-2 bg-green-600 hover:bg-green-700 rounded-md text-white transition duration-300"
      >
        Add track
      </button>
      <app-add-track
        [spotifyPlaylistId]="playlist.spotifyPlaylistId"
        [isVisible]="addTrackVisible"
        (close)="onAddTrackModalClose($event)"
      ></app-add-track>
      <h1 class="text-2xl font-bold mb-4 p-5">
        Vote on the next <span class="text-green-500">Vibe!</span>
      </h1>
      <div
        class="mt-4 w-full"
        *ngFor="let track of playlist.tracks; let i = index"
      >
        <div
          class="flex items-center justify-between p-2 bg-gray-800 hover:bg-gray-700 shadow-md rounded-md transition duration-300"
        >
          <div class="flex items-center w-3/4">
            <img
              [src]="track.imageUrl"
              alt="Album cover"
              class="w-16 h-16 rounded-md"
            />
            <div class="ml-4">
              <p class="font-bold text-lg">{{ track.title }}</p>
              <p class="text-gray-400">{{ track.artist }}</p>
            </div>
          </div>
          <button
            (click)="vote(track.id, track.spotifyId, i)"
            [ngClass]="{
              'bg-green-600 hover:bg-green-700': !userVotes[i],
              'bg-red-600 hover:bg-red-700': userVotes[i]
            }"
            class="px-4 py-2 rounded-md text-white transition duration-300"
          >
            {{ userVotes[i] ? "Remove Vote" : "Vote" }} ({{
              track.votes.length
            }})
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
