<div class="bg-gray-900 text-white p-4">
  <h2 class="text-xl font-bold mb-4">Add Track</h2>
  <div class="relative">
    <input
      class="w-full p-2 bg-gray-700 rounded-md text-white placeholder-gray-400 focus:outline-none"
      placeholder="Search track"
      [(ngModel)]="trackName"
      (input)="searchTracks()"
    />
    <div
      *ngIf="searchResults"
      class="absolute left-0 w-full mt-2 bg-gray-800 text-white rounded-md shadow-lg"
    >
      <div
        *ngFor="let track of searchResults.tracks.items"
        class="p-2 hover:bg-gray-700 cursor-pointer"
        (click)="selectTrack(track.uri)"
      >
        {{ track.name }} - {{ track.artists[0].name }}
      </div>
    </div>
  </div>
  <button
    class="mt-4 w-full py-2 px-4 bg-green-600 hover:bg-green-700 text-white rounded-md focus:outline-none"
    (click)="onNoClick()"
  >
    Cancel
  </button>
</div>
